@import "variables";

/*footer*/
.footer{
    width: 100%;
    border-top: .5px solid $gristexto;
    
    &__wrapper{
        width: 95%;
        max-width: 85rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        padding: 2.5rem 0;
    }

    &__img{
        width: 2.5rem;
    }
    &__p{
        color: $gristexto;
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }
}
        