@import "variables";

/* Menu*/
.menu{
    background-color: $negro;
    width: 100%;
    &__contenedor{
        position: fixed;
        top: 5rem;
        right: 0;
        left: 0;
        padding: 1.3rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        background: rgba(42,43,56,.2);
        border: 0.2rem solid #2a2b37;
        backdrop-filter: blur(95px);
        border-radius: 2rem;
        z-index: 2;
        
    }
    &__flex{
        display: flex;
        align-items: center;
        color: $gristexto;
        &.hover{
            cursor: pointer;
            transition: all .5s ease;
            &.active{
                .cerrar{
                    display: block;
                }
                .abrir{
                    display: none;
                }
            }
        }
    }
    &__flex.hover:hover{
        transform:  scale(95%) translateX(1rem); 
        
    }
    &__span{
        display: block;
        margin: 0 1.5rem;
        position: relative;
        &.cerrar{
            display: none;
        }
        &.salida{
            animation-name: salida;
            animation-duration: 5s;
            animation-fill-mode: forwards;
        }
        
        @keyframes salida {
            from {
                left: -100%;   
            }
            to {
                left: 10%;
            }
        }
    }
    &__animation{
        overflow:hidden;
    }
    &__img{
        width: 3rem;
    }
    &__button{
        height: 1.5rem;
        position: relative;
        cursor: pointer;
        display: block;
        width: 3rem;
        margin-left: 0.5rem;
        &.active{
            &::before{
                width: 100%;
                top: calc(50% - .25px);
                transform: rotate(45deg);
            }
            &::after{
                width: 100%;
                top: calc(50% - .25px);
                transform: rotate(-45deg);
            }
            .menu__linea{
                display: none;
            }
        }
    }
    &__button::before{
        content: "";
        display: block;
        width: 100%;
        height: .5px;
        background-color: $gristexto;
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
    }
    
    &__linea{
        width: 80%;
        height: .5px;
        background-color: $gristexto;
        position: absolute;
        top: calc(50% - 0.25px);
        transition: all 0.5s ease;
    }
    &__button::after{
        content:"";
        display: block;
        width: 60%;
        height: .5px;
        background-color: $gristexto;
        position: absolute;
        bottom: 0;
        transition: all 0.5s ease;
    }
}
/* Menu Móvil*/
.menuMovil{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    background-color: $negro;
    color: $gristexto;
    z-index: 1;
    opacity: 0;
    transition: all 1s ease;
    overflow-y: scroll;

    &.active{
        opacity: 1;
        left:0;
        .menuMovil__arriba, .menuMovil__abajo{
            opacity: 1;
        }

    }
    &__wrapper{
        width: 95%;
        margin: auto;
    }
    &__arriba{
        margin-top: 15rem;
        display: flex;
        
        justify-content: space-around;
        align-items: flex-end;
        width: 90%;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        opacity: 0;
        transition: all 1.2s ease;
        transition-delay: 1s;

        @include tablet{
            flex-wrap: wrap;

            .menuMovil__izda{
                justify-content: center;
                margin: 0 auto 0;
            }
            .menuMovil__dcha{
                justify-content: center;
                margin: 5rem auto 0;
            }
        }
    }
    &__a{
        font-size: 2.5rem;
        margin-top: 2rem;
        display: inline-block;
        font-family: 'MarkPro Bold';
        text-decoration: none;
        color: $gristexto;
        transition: all .3s ease-in-out;
        &:hover{
            color: $rosa;
        }
    }
    .fa-linkedin{
        margin-left: 1.5rem;
    }
    &__abajo{
        margin: 6rem auto 6rem;
        opacity: 0;
        transition: all 1.2s ease;
        transition-delay: 1.5s;
    }
    &__h3{
        margin: 8rem auto 8rem;
        text-align: center;
        font-size: 3rem;
    }
    &__proyectos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    &__proyecto{
        width: 25rem;
        height: 25rem;
        border-radius: 4.5rem;
        
        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        position: relative;
        transition: all .5s ease;
        flex-basis: 35%;
        @include tablet{
            flex-basis: 51%;
        }
        &:hover{
            transform: scale(105%);
            .overflow{
                opacity: .9;
                &__h3{
                    opacity: 1;
                }
            }

        }
        .overflow{
            width: 100%;
            height: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            left:0;
            opacity:0;
            display: flex;
            align-items: center;
            border-radius: 4.5rem;
            transition: all .5s ease;
            &__h3{
                position: absolute;
                //hereda posición de flex XD
                font-family: 'MarkPro Bold';
                font-size: 5rem;
                animation: gradient 30s ease infinite;
                background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
                background-size: 400%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                transition: all .5s ease;
                @include minitablet{
                    font-size: 4rem;
                }
            }
        }
        
    }
    &__img{
        border-radius: 4.5rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }
}
/* Header*/
.header{
    background-color: $negro;
    position: relative;
    padding-top: 20rem;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 75%;
        width: 15rem;
        height: 15rem;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('img/merche.webp');
        @include tablet{
            width: 10rem;
            height: 10rem;
        }
    }
    &__wrapper{
        width: 95%;
        max-width: 85rem;
        margin-right: auto;
        margin-left: auto;
    }
    &__titular{
        margin-left: 3rem;
    }
    &__span{
        font-size: 9rem;
        font-family: 'MarkPro';
        letter-spacing: -.03em;
        line-height: 100%;
        font-weight: 900;
        color: white;
        
        @include tablet {
            font-size: 6.5rem;
        }
        @include minitablet {
            font-size: 5rem;
        }
        @include movil {
            font-size: 3.8rem;
        }

        &.animado{
            animation: gradient 30s ease infinite;
            background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
            background-size: 400%;
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @keyframes gradient {
            0% { background-position: 0 50% }
            50% { background-position: 100% 50% }
            100% { background-position: 0 50% }
        }
    }
    &__proyectos{
        color: $gristexto;
        margin-top: 13rem;
        display: inline-block;
        font-size: 1.8rem;
        line-height: 92.4%;
        letter-spacing: .14em;
        position: relative;
        margin-bottom: 5rem;
        &::after{
            content: "";
            position: absolute;
            bottom: -1rem;
            left: 0;
            display: block;
            width: 50%;
            height: 1px;
            background: $gristexto;
            transition: all .5s ease;
        }
    }
    &__proyectos:hover::after{
        width: 98%;
    }
}
.media{
    background-color: $negro;
    @include minitablet {
            &__left{
                display: none;
            }
    }
    &__wrapper{
        width: 95%;
        max-width: 85rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        padding: 8rem 0;
        
    }
    audio{
        background-color: black;
        width: 20rem;
        height: 2rem;
    }
    &__a{
        color: $gristexto;
        transition: all .5s ease;
        &:first-child{
            margin-right: 2rem;
        }
    }
    &__a:hover{
        color: $rosita;
        transform: scale(95%) translateX(1.5rem); 
     }
    
}


