@charset "UTF-8";
@font-face {
  font-family: "MarkPro";
  src: url("fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "MarkPro Bold";
  src: url("fuentes/Mark-Pro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jbetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jaround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jright {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.fdcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fwrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@font-face {
  font-family: "MarkPro";
  src: url("fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "MarkPro Bold";
  src: url("fuentes/Mark-Pro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* Menu*/
.menu {
  background-color: #10101a;
  width: 100%;
}
.menu__contenedor {
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  padding: 1.3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42, 43, 56, 0.2);
  border: 0.2rem solid #2a2b37;
  -webkit-backdrop-filter: blur(95px);
          backdrop-filter: blur(95px);
  border-radius: 2rem;
  z-index: 2;
}
.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c4c4c4;
}
.menu__flex.hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__flex.hover.active .cerrar {
  display: block;
}
.menu__flex.hover.active .abrir {
  display: none;
}
.menu__flex.hover:hover {
  -webkit-transform: scale(95%) translateX(1rem);
          transform: scale(95%) translateX(1rem);
}
.menu__span {
  display: block;
  margin: 0 1.5rem;
  position: relative;
}
.menu__span.cerrar {
  display: none;
}
.menu__span.salida {
  -webkit-animation-name: salida;
          animation-name: salida;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes salida {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}
@keyframes salida {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}
.menu__animation {
  overflow: hidden;
}
.menu__img {
  width: 3rem;
}
.menu__button {
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  display: block;
  width: 3rem;
  margin-left: 0.5rem;
}
.menu__button.active::before {
  width: 100%;
  top: calc(50% - 0.25px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__button.active::after {
  width: 100%;
  top: calc(50% - 0.25px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__button.active .menu__linea {
  display: none;
}
.menu__button::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #c4c4c4;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__linea {
  width: 80%;
  height: 0.5px;
  background-color: #c4c4c4;
  position: absolute;
  top: calc(50% - 0.25px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__button::after {
  content: "";
  display: block;
  width: 60%;
  height: 0.5px;
  background-color: #c4c4c4;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Menu Móvil*/
.menuMovil {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #10101a;
  color: #c4c4c4;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow-y: scroll;
}
.menuMovil.active {
  opacity: 1;
  left: 0;
}
.menuMovil.active .menuMovil__arriba, .menuMovil.active .menuMovil__abajo {
  opacity: 1;
}
.menuMovil__wrapper {
  width: 95%;
  margin: auto;
}
.menuMovil__arriba {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@media (max-width: 820px) {
  .menuMovil__arriba {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menuMovil__arriba .menuMovil__izda {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 0;
  }
  .menuMovil__arriba .menuMovil__dcha {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5rem auto 0;
  }
}
.menuMovil__a {
  font-size: 2.5rem;
  margin-top: 2rem;
  display: inline-block;
  font-family: "MarkPro Bold";
  text-decoration: none;
  color: #c4c4c4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menuMovil__a:hover {
  color: #cf59e6;
}
.menuMovil .fa-linkedin {
  margin-left: 1.5rem;
}
.menuMovil__abajo {
  margin: 6rem auto 6rem;
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.menuMovil__h3 {
  margin: 8rem auto 8rem;
  text-align: center;
  font-size: 3rem;
}
.menuMovil__proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.menuMovil__proyecto {
  width: 25rem;
  height: 25rem;
  border-radius: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}
@media (max-width: 820px) {
  .menuMovil__proyecto {
    -ms-flex-preferred-size: 51%;
        flex-basis: 51%;
  }
}
.menuMovil__proyecto:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}
.menuMovil__proyecto:hover .overflow {
  opacity: 0.9;
}
.menuMovil__proyecto:hover .overflow__h3 {
  opacity: 1;
}
.menuMovil__proyecto .overflow {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menuMovil__proyecto .overflow__h3 {
  position: absolute;
  font-family: "MarkPro Bold";
  font-size: 5rem;
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 600px) {
  .menuMovil__proyecto .overflow__h3 {
    font-size: 4rem;
  }
}
.menuMovil__img {
  border-radius: 4.5rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Header*/
.header {
  background-color: #10101a;
  position: relative;
  padding-top: 20rem;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 75%;
  width: 15rem;
  height: 15rem;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("img/merche.webp");
}
@media (max-width: 820px) {
  .header::before {
    width: 10rem;
    height: 10rem;
  }
}
.header__wrapper {
  width: 95%;
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
}
.header__titular {
  margin-left: 3rem;
}
.header__span {
  font-size: 9rem;
  font-family: "MarkPro";
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 900;
  color: white;
}
@media (max-width: 820px) {
  .header__span {
    font-size: 6.5rem;
  }
}
@media (max-width: 600px) {
  .header__span {
    font-size: 5rem;
  }
}
@media (max-width: 420px) {
  .header__span {
    font-size: 3.8rem;
  }
}
.header__span.animado {
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.header__proyectos {
  color: #c4c4c4;
  margin-top: 13rem;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 5rem;
}
.header__proyectos::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: block;
  width: 50%;
  height: 1px;
  background: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__proyectos:hover::after {
  width: 98%;
}

.media {
  background-color: #10101a;
}
@media (max-width: 600px) {
  .media__left {
    display: none;
  }
}
.media__wrapper {
  width: 95%;
  max-width: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 8rem 0;
}
.media audio {
  background-color: black;
  width: 20rem;
  height: 2rem;
}
.media__a {
  color: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.media__a:first-child {
  margin-right: 2rem;
}
.media__a:hover {
  color: #b772ea;
  -webkit-transform: scale(95%) translateX(1.5rem);
          transform: scale(95%) translateX(1.5rem);
}

@font-face {
  font-family: "MarkPro";
  src: url("fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "MarkPro Bold";
  src: url("fuentes/Mark-Pro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/*footer*/
.footer {
  width: 100%;
  border-top: 0.5px solid #c4c4c4;
}
.footer__wrapper {
  width: 95%;
  max-width: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 2.5rem 0;
}
.footer__img {
  width: 2.5rem;
}
.footer__p {
  color: #c4c4c4;
  font-size: 1.4rem;
  margin-left: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1.7rem;
  background-color: #10101a;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.mouse {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (max-width: 820px) {
  .mouse {
    display: none;
  }
}
.mouse img {
  width: 100%;
}
.mouse.rotar {
  -webkit-animation: rotating 6s linear infinite;
          animation: rotating 6s linear infinite;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.contenedor {
  width: 95%;
  max-width: 85rem;
  margin: auto;
  color: #c4c4c4;
}
.contenedor__p {
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.contenedor__p.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}

.proyectos {
  padding-top: 15rem;
}
@media (max-width: 600px) {
  .proyectos {
    padding-top: 10rem;
  }
}
.proyectos__h1 {
  font-family: "MarkPro";
  font-size: 5rem;
  letter-spacing: -0.04em;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 420px) {
  .proyectos__h1 {
    font-size: 3.5rem;
  }
}
.proyectos__h1.animado {
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.proyectos__h1.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
.proyectos__p {
  margin: 2rem 0 15rem;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.proyectos__p.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
@media (max-width: 420px) {
  .proyectos__p {
    margin: 2rem 0 10rem;
  }
}
.proyectos .proyectos__centro {
  width: 35rem;
  height: 45rem;
  background-size: cover;
  position: relative;
  border-radius: 5.3rem;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
  background-image: url(img/back01.png);
}
.proyectos__tarjeta {
  width: 95%;
  max-width: 85rem;
  margin: 15rem auto;
  padding: 6rem;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, 0.5)), to(rgba(15, 15, 24, 0.5)));
  background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
  border: 0.2rem solid #20222e;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 7.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.proyectos__tarjeta.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
@media (max-width: 420px) {
  .proyectos__tarjeta {
    padding: 4rem;
    margin: 8rem auto;
  }
}
.proyectos__tarjeta.fantic .proyectos__centro {
  background-image: url(img/fantic_s.png);
}
.proyectos__tarjeta.fantic .proyectos__overflow {
  background-image: linear-gradient(-225deg, #DCDEDE 0%, #8698AB 50%, #50564C 100%);
}
.proyectos__tarjeta.fantic .proyectos__overflow p {
  color: #b0f3f1;
}
.proyectos__tarjeta.fantic .proyectos__h2 {
  background: linear-gradient(-45deg, #63898a, #9fbcbf, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s infinite;
  animation: gradient 3s infinite;
}
@media (max-width: 600px) {
  .proyectos__tarjeta.fantic .proyectos__h2 {
    margin-top: 3rem;
  }
}
.proyectos__tarjeta.apple .proyectos__centro {
  background-image: url(img/apple.png);
}
.proyectos__tarjeta.apple .proyectos__overflow {
  background-image: linear-gradient(-225deg, #507059 0%, #4FF0AD 100%);
}
.proyectos__tarjeta.apple .proyectos__overflow p {
  color: #c6ffe7;
}
.proyectos__tarjeta.apple .proyectos__h2 {
  background: linear-gradient(-45deg, #507059, #4FF0AD, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s infinite;
  animation: gradient 3s infinite;
}
@media (max-width: 600px) {
  .proyectos__tarjeta.apple .proyectos__h2 {
    margin-top: 3rem;
  }
}
.proyectos__tarjeta.pixar .proyectos__centro {
  background-image: url(img/pixar.png);
}
.proyectos__tarjeta.pixar .proyectos__overflow {
  background-image: linear-gradient(-225deg, #96B4B6 0%, #F26A33 50%, #B75760 100%);
}
.proyectos__tarjeta.pixar .proyectos__overflow p {
  color: rgba(246, 211, 165, 0.9607843137);
}
.proyectos__tarjeta.pixar .proyectos__h2 {
  background: linear-gradient(-45deg, #96B4B6, #F26A33, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s infinite;
  animation: gradient 3s infinite;
}
@media (max-width: 600px) {
  .proyectos__tarjeta.pixar .proyectos__h2 {
    margin-top: 3rem;
  }
}
.proyectos__tarjeta.restaurante .proyectos__centro {
  background-image: url(img/restaurante.png);
}
.proyectos__tarjeta.restaurante .proyectos__overflow {
  background-image: linear-gradient(-225deg, #c84e36 0%, #c0803c 50%, #e2b63d 100%);
}
.proyectos__tarjeta.restaurante .proyectos__overflow p {
  color: #f8d78f;
}
.proyectos__tarjeta.restaurante .proyectos__h2 {
  background: linear-gradient(-45deg, #c84e36, #e2b63d, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s infinite;
  animation: gradient 3s infinite;
}
@media (max-width: 600px) {
  .proyectos__tarjeta.restaurante .proyectos__h2 {
    margin-top: 3rem;
  }
}
.proyectos__overflow {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
}
.proyectos__overflow p {
  font-family: "MarkPro";
  font-size: 5.5rem;
}
.proyectos__overflow p span {
  font-style: italic;
  font-size: 1rem;
}
.proyectos__centro:hover .proyectos__overflow {
  width: 100%;
  opacity: 100%;
}
.proyectos__izda p {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-right: 5rem;
}
@media (max-width: 600px) {
  .proyectos__izda p {
    display: none;
  }
}
.proyectos__dcha {
  margin-left: 5rem;
}
.proyectos__h2 {
  font-size: 5rem;
  font-family: "MarkPro";
}
.proyectos__a {
  color: #c4c4c4;
  margin: 10rem 0 5rem;
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.14em;
  position: relative;
  cursor: pointer;
}
@media (max-width: 600px) {
  .proyectos__a {
    margin: 3rem 0 2rem;
  }
}
.proyectos__a::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  display: block;
  width: 50%;
  height: 1px;
  background: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.proyectos__a:hover::after {
  width: 98%;
}

.tabs {
  margin-bottom: 45rem;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.tabs.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
@media (max-width: 600px) {
  .tabs {
    margin-bottom: 35rem;
  }
}
.tabs__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabs__btn {
  padding: 25px 20px;
  min-width: 6rem;
  margin-right: 2rem;
  border-radius: 1.3rem;
  background-color: #10101a;
  cursor: pointer;
  color: #c4c4c4;
  position: relative;
  overflow: hidden;
}
.tabs__btn.active .tabs__overflow {
  left: 0;
  opacity: 1;
}
.tabs__btn:hover .tabs__overflow {
  left: 0;
  opacity: 1;
}
.tabs__overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: calc(50% - 33px);
  left: -100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #10101a;
}
.tabs__overflow img {
  width: 5rem;
}

.tabs__contenedor {
  position: relative;
  width: 95%;
  margin: auto;
}
.tabs__seccion {
  max-width: 85rem;
  min-height: 30rem;
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, 0.5)), to(rgba(15, 15, 24, 0.5)));
  background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
  border: 0.2rem solid #20222e;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 7.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 600px) {
  .tabs__seccion {
    padding: 2rem;
  }
}
.tabs__seccion.active {
  opacity: 1;
}
.tabs__h2 {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  margin-right: 5rem;
}
@media (max-width: 420px) {
  .tabs__h2 {
    margin-right: 3rem;
  }
}

.contacto {
  margin: 0 auto 15rem;
  -webkit-transform: translateX(10%) translateY(10%);
          transform: translateX(10%) translateY(10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 600px) {
  .contacto {
    margin: 0 auto 8rem;
  }
}
.contacto.active {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}
.contacto__h3 {
  font-family: "MarkPro";
  font-size: 3rem;
  letter-spacing: -0.04em;
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.contacto__h3:nth-child(2) {
  font-size: 1.5rem;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.contacto__p {
  margin-bottom: 4rem;
}