@import "scss/variables" , "scss/flex", "scss/menu", "scss/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: $inconsolata;
    font-size: 1.7rem;
    background-color: $negro;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
.mouse{
    width: 6rem;
    height: 6rem;

    position: fixed;
    top:0;
    left:0;
    z-index: 3;

    pointer-events: none;

    transition: all .1s ease;
    @include tablet {
        display: none;
    }

    img{
        width: 100%;
    }
    &.rotar{
        animation: rotating 6s linear infinite;
    }
    @keyframes rotating{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
}
.contenedor{
    width: 95%;
    max-width: 85rem;
    margin: auto;
    color: $gristexto;

    &__about{
        padding-top: 15rem;
        transform: translateX(10%) translateY(10%);
        transition: all 1s ease;
        &.active{
            transform: translateX(0%) translateY(0%);
        }
    }
    &__h3{
        font-family: 'MarkPro';
        font-size: 3rem;
        letter-spacing: -.04em;
        animation: gradient 30s ease infinite;
        background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
        background-size: 400%;
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
    
    }
    @keyframes gradient {
        0% { background-position: 0 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0 50% }
    }
    
}
.proyectos{
   padding-top: 12rem;
   
    @include minitablet{
        padding-top: 10rem;
    }
    
    &__h1{
        font-family: 'MarkPro';
        font-size: 5rem;
        letter-spacing: -.04em;
        
        @include movil{
            font-size: 3.5rem;
        }
        
        &.animado{
            animation: gradient 30s ease infinite;
            background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
            background-size: 400%;
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @keyframes gradient {
            0% { background-position: 0 50% }
            50% { background-position: 100% 50% }
            100% { background-position: 0 50% }
        }
        transform: translateX(10%) translateY(10%);
        transition: all 1s ease;
        &.active{
            transform: translateX(0%) translateY(0%);
        }
    }
    &__p{
        margin: 2rem 0 15rem;
        transform: translateX(10%) translateY(10%);
        transition: all 1s ease;
        &.active{
            transform: translateX(0%) translateY(0%);
        }
        @include movil{
            margin: 2rem 0 10rem;
        }
    }
    .proyectos__centro{
        width: 35rem;
        height: 45rem;
        background-size: cover;
        position: relative;
        border-radius: 5.3rem;
        overflow: hidden;
        cursor: pointer;
        background-position: center;
        background-image: url(img/back01.jpg);
    }
    &__tarjeta{
        width: 95%;
        max-width: 85rem;
        margin: 15rem auto;
        padding: 6rem;

        position: relative; 

        background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
        border: 0.2rem solid #20222e;
        backdrop-filter: blur(50px);
        border-radius: 7.3rem;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        transform: translateX(10%) translateY(10%);
        transition: all 1s ease;
        &.active{
            transform: translateX(0%) translateY(0%);
        }
        @include movil{
            padding: 4rem;
            margin: 8rem auto;
        }
    }
    &__tarjeta.fantic{
        .proyectos__centro{
            background-image: url(img/fantic2.webp);
        }
        .proyectos__overflow{
            background-image: linear-gradient(-225deg, #DCDEDE 0%, #8698AB 50%, #50564C 100%);
            p{
                color: #b0f3f1;
            }
        }
        .proyectos__h2{
            background: linear-gradient(-45deg,#63898a,#9fbcbf,white);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            line-height: 105%;
            -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
            @include minitablet{
                margin-top: 3rem;
            }
        }
    }
    &__tarjeta.apple{
        .proyectos__centro{
            background-image: url(img/apple2.webp);
        }
        .proyectos__overflow{
            background-image: linear-gradient(-225deg, #507059 0%, #4FF0AD 100%);
            p{
                color: #c6ffe7;
            }
        }
        .proyectos__h2{
            background: linear-gradient(-45deg,#507059,#4FF0AD ,white);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            line-height: 105%;
            -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
            @include minitablet{
                margin-top: 3rem;
            }
        }
    }
    &__tarjeta.pixar{
        .proyectos__centro{
            background-image: url(img/pixar2.webp);
        }
        .proyectos__overflow{
            background-image: linear-gradient(-225deg, #96B4B6 0%, #F26A33 50%, #B75760 100%);
            p{
                color: #f6d3a5f5;
            }
        }
        .proyectos__h2{
            background: linear-gradient(-45deg,#96B4B6,#F26A33 ,white);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            line-height: 105%;
            -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
            @include minitablet{
                margin-top: 3rem;
            }
        }
    }
    &__tarjeta.restaurante{
        .proyectos__centro{
            background-image: url(img/restaurante2.webp);
        }
        .proyectos__overflow{

            background-image: linear-gradient(-225deg, #c84e36 0%, #c0803c 50%, #e2b63d 100%);
            p{
                color: #f8d78f;
            }
        }
        .proyectos__h2{
            background: linear-gradient(-45deg,#c84e36,#e2b63d ,white);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            line-height: 105%;
            -webkit-animation: gradient 3s infinite;
            animation: gradient 3s infinite;
            @include minitablet{
                margin-top: 3rem;
            }
        }
    }  
    &__overflow{
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .5s ease;
        opacity: 0;
        color: white;
        p{
            font-family: 'MarkPro';
            font-size: 5.5rem;
            span{
                font-style: italic;
                font-size: 1rem;
            }
        }

    }
    &__centro:hover &__overflow{
        width: 100%;
        opacity: 100%;
    }
    &__izda{
        p{
            display: block;
            transform: rotate(180deg);
            writing-mode: vertical-lr;
            margin-right: 5rem;

            @include minitablet{
                display: none;
            }
        }
    }

    &__dcha{
        margin-left: 5rem;
    }
    &__h2{
        font-size: 5rem;
        font-family: 'MarkPro';
    }
    &__a{
        color: $gristexto;
        margin: 10rem 0 5rem;
        display: inline-block;
        font-size: 1.6rem;
        letter-spacing: 0.14em;
        position: relative;

        cursor: pointer;

        @include minitablet{
            margin: 3rem 0 2rem;
        }
    }
    &__a::after{
        content: "";
        position: absolute;
        bottom: -.5rem;
        left: 0;
        display: block;
        width: 50%;
        height: 1px;
        background: #c4c4c4;
        transition: all 0.5s ease;
    }
    &__a:hover::after{
        width: 98%;
    }
}
.tabs{
    margin-bottom: 45rem;
    transform: translateX(10%) translateY(10%);
    transition: all 1s ease;
        &.active{
            transform: translateX(0%) translateY(0%);
        }
    @include minitablet{
        margin-bottom: 35rem;
    }

    &__ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__btn{
        padding: 25px 20px;
        min-width: 6rem;
        margin-right: 2rem;
        border-radius: 1.3rem;
        background-color: $negro;
        cursor: pointer;
        color: $gristexto;
        position: relative;
        overflow: hidden;

        &.active{
            .tabs__overflow{
                left: 0;
                opacity: 1;
            }  
        }
        &:hover .tabs__overflow{
            left: 0;
            opacity: 1;
        }
    }
    &__overflow{
        width: 100%;
        height: 100%;
        position: absolute;
        top: calc(50% - 33px);
        left:-100%;
        opacity: 0;
        transition: all .5s ease;
        background-color: $negro;
        // background-image: url(img/html_sm.png);
        // background-position: center;
        // background-size:cover;
        img{
            width: 5rem;
        }
    }
}
.tabs{
    &__contenedor{
        position: relative;
        width: 95%;
        margin:auto;
    }
    &__seccion{
        max-width: 85rem;
        min-height: 30rem;
        position: absolute;
        top:0;

        background: linear-gradient(180deg,rgba(35,37,49,.5),rgba(15,15,24,.5));
        border: 0.2rem solid #20222e;
        backdrop-filter: blur(50px);
        border-radius: 7.3rem;
        display: flex;
        align-items:center;
        padding: 6rem;

        opacity: 0;
        transition: all 0.5s ease;

        @include minitablet{
            padding: 2rem;
        }

        &.active{
            opacity: 1;
        }
    }
        &__h2{
        display:block;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        margin-right: 5rem;
        @include movil{
            margin-right: 3rem;
        }
        }
}
.contacto{
    margin: 0 auto 12rem;
    transform: translateX(10%) translateY(10%);
    transition: all 1s ease;
    @include minitablet{
        margin: 0 auto 8rem;
    }
        &.active{
            transform: translateX(0%) translateY(0%);
        }

    &__h3{
        font-family: 'MarkPro';
        font-size: 3rem;
        letter-spacing: -.04em;
        animation: gradient 30s ease infinite;
        background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
        background-size: 400%;
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
        &:nth-child(2){
            font-size: 1.5rem;
        }
    }
    @keyframes gradient {
        0% { background-position: 0 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0 50% }
    }
    &__p{
        margin-bottom: 4rem;
    }
    &__a{
        color: $gristexto;
        &:hover{
            color: $rosa
        }
    }
}
