@font-face {
  font-family: "MarkPro";
  src: url("../fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jbetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jaround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jright {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.fdcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fwrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/* Menu*/
.menu {
  background-color: black;
  width: 100%;
}
.menu__contenedor {
  position: fixed;
  top: 5rem;
  right: 0;
  left: 0;
  padding: 1.3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(42, 43, 56, 0.2);
  border: 0.2rem solid #2a2b37;
  -webkit-backdrop-filter: blur(95px);
          backdrop-filter: blur(95px);
  border-radius: 2rem;
  z-index: 1;
}
.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c4c4c4;
}
.menu__flex.hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__flex.hover.active .cerrar {
  display: block;
}
.menu__flex.hover.active .abrir {
  display: none;
}
.menu__flex.hover:hover {
  -webkit-transform: scale(95%) translateX(1.5rem);
          transform: scale(95%) translateX(1.5rem);
}
.menu__span {
  display: block;
  margin: 0 1.5rem;
  position: relative;
}
.menu__span.cerrar {
  display: none;
}
.menu__span.salida {
  -webkit-animation-name: salida;
          animation-name: salida;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes salida {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}
@keyframes salida {
  from {
    left: -100%;
  }
  to {
    left: 10%;
  }
}
.menu__animation {
  overflow: hidden;
}
.menu__button {
  height: 1.5rem;
  position: relative;
  cursor: pointer;
  display: block;
  width: 3rem;
  margin-left: 0.5rem;
}
.menu__button.active::before {
  width: 100%;
  top: calc(50% - 1.5px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu__button.active::after {
  width: 100%;
  top: calc(50% - 1.5px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__button.active .menu__linea {
  display: none;
}
.menu__button::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__linea {
  width: 80%;
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  top: calc(50% - 0.5px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__button::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Header*/
.header {
  background-color: black;
  position: relative;
  padding-top: 25rem;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  z-index: 1;
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(/img/sticker.png);
}
.header__wrapper {
  width: 85rem;
  margin-right: auto;
  margin-left: auto;
}
.header__titular {
  margin-left: 3rem;
}
.header__span {
  font-size: 9rem;
  font-family: "MarkPro";
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 900;
  color: white;
}
.header__span.animado {
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.header__proyectos {
  color: #c4c4c4;
  margin-top: 13rem;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 92.4%;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 5rem;
}
.header__proyectos::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: block;
  width: 50%;
  height: 1px;
  background: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__proyectos:hover::after {
  width: 98%;
}

.media {
  background-color: black;
}
.media__wrapper {
  width: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 8rem 0;
}
.media audio {
  background-color: black;
  width: 20rem;
  height: 2rem;
}
.media__a {
  color: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.media__a:first-child {
  margin-right: 2rem;
}
.media__a:hover {
  color: #b772ea;
  -webkit-transform: scale(95%) translateX(1.5rem);
          transform: scale(95%) translateX(1.5rem);
}

@font-face {
  font-family: "MarkPro";
  src: url("../fuentes/MarkPro-Heavy.woff") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/*footer*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-size: 1.7rem;
}

html {
  font-size: 62.5%;
  margin: auto;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 85rem;
  margin: auto;
  color: #c4c4c4;
}

.proyectos {
  margin-top: 20rem;
}
.proyectos__h1 {
  font-family: "MarkPro";
  font-size: 5rem;
  letter-spacing: -0.04em;
}
.proyectos__h1.animado {
  -webkit-animation: gradient 30s ease infinite;
          animation: gradient 30s ease infinite;
  background: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.proyectos__p {
  margin: 2rem 0 15rem;
}
.proyectos__tarjeta {
  width: 85rem;
  margin: 20rem auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 37, 49, 0.5)), to(rgba(15, 15, 24, 0.5)));
  background: linear-gradient(180deg, rgba(35, 37, 49, 0.5), rgba(15, 15, 24, 0.5));
  border: 0.2rem solid #20222e;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 7.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
  position: relative;
}
.proyectos__tarjeta.uno::before {
  content: "";
  display: block;
  position: absolute;
  top: -5rem;
  right: -5rem;
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/01.svg);
}
.proyectos__tarjeta.dos::before {
  content: "";
  display: block;
  position: absolute;
  top: -5rem;
  right: -5rem;
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/02.svg);
}
.proyectos__tarjeta.tres::before {
  content: "";
  display: block;
  position: absolute;
  top: -5rem;
  right: -5rem;
  width: 15rem;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/03.svg);
}
.proyectos__centro {
  width: 35rem;
  height: 45rem;
  background-size: cover;
  position: relative;
  border-radius: 5.3rem;
  overflow: hidden;
  cursor: pointer;
  background-image: url(img/back01.png);
}
.proyectos__centro.tilt-in-top-1 {
  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
.proyectos__overflow {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c3929;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
}
.proyectos__overflow p {
  font-family: "MarkPro";
  font-size: 5.5rem;
  -webkit-animation: gradient 30s ease ease-in-out;
          animation: gradient 30s ease ease-in-out;
  background: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
  background: linear-gradient(90deg, #b0f3f1, #ffcfdf);
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.proyectos__overflow p span {
  font-style: italic;
  font-size: 1rem;
}
.proyectos__centro:hover .proyectos__overflow {
  width: 100%;
  opacity: 100%;
}
.proyectos__izda p {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-right: 5rem;
}
.proyectos__dcha {
  margin-left: 5rem;
}
.proyectos__h2 {
  font-size: 5rem;
  background: linear-gradient(-45deg, #63898a, #9fbcbf, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  line-height: 105%;
  -webkit-animation: gradient 3s infinite;
  animation: gradient 3s infinite;
}
.proyectos__a {
  color: #b0f3f1;
  margin-top: 10rem;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: 0.14em;
  position: relative;
  margin-bottom: 5rem;
  cursor: pointer;
}
.proyectos__a::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  display: block;
  width: 50%;
  height: 1px;
  background: #c4c4c4;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.proyectos__a:hover::after {
  width: 98%;
}